*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title_web {
    font-size: 8px;
    background-color: black;
    padding: 20px 20px;
    color: white;
    display: flex;
    column-gap: 0.8rem;
    justify-content: space-between;
    align-items: center;
}

.title_web h1 {
    margin-top:auto;
    translate: 50% -50%;
    margin-left:50px;
    
}
.first_block {
    background-color:#dadbf1;
    text-align: center;
    padding: 100px 0px;
    font-size: 40px;
    
    
    
}

.button_submit{
    padding: 7px;
    color: white;
    background-color: rgb(15, 15, 15);
    border-color: aliceblue;
    border-width: 1px;
    border-radius: 5px;
    margin-right: 10px;
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease;
    
    


}

.button_singin{
    background-color:#4C5FD5;
    color: white;
    border-color: white;
    border-width: 1px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 5px;
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease;
    margin-right: 20px;
    
}

.button_submit:hover{

    background-color: #4C5FD5;

}
.button_singin:hover{

    background-color: hsl(232, 46%, 44%);
    transform: scale(1.1);

}
.search_bar{
margin-top: 25px;
padding: 10px;
width: 500px;

}